<!DOCTYPE html>
<html class="no-js" ng-app="lincscrm">

<head>
    <meta charset="utf-8">
    <title>Projeto SCRM :: Laboratório de Inteligência Computacional e Pesquisa Operacional</title>
    <meta name="description" content="Projeto SCRM :: Laboratório de Inteligência Computacional e Pesquisa Operacional">
    <meta name="keywords" content="">
    <meta name="author" content="LINC">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsiveness.css">
    <!--  -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="bower_components/js/modernizr.custom.js"></script>
</head>

<body ng-controller="SCRMController">

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobyapp">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logoglow.png" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mobyapp">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li><a class="page-scroll" href="#about">Sobre nós</a>
                    </li>
                    <li><a class="page-scroll" href="#about-project">Sobre o Projeto SCRM</a>
                    </li>
                    <li><a class="page-scroll" href="#contribute">Quero Contribuir</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="home">
        <a href="https://github.com/jgabriellima/lincscrm" target="_blank">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
        </a>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="padding-left" align="center">
                    <div class="wow fadeInDown">
                        <a href="index.html">
                            <img src="assets/img/logoglow.png" width="280" alt="logo">
                        </a>
                    </div>
                    <div class="text space wow fadeInDown" data-wow-delay=".5s">
                        <h1>Seja um colaborador do Laboratório de Inteligência Computacional e Pesquisa Operacional - LINC/UFPa
                            <br>
                            <a href="#about-project" data-wow-delay="1s" style="font-weight:normal">
                                <span style="">Projeto SCRM</span>
                            </a>
                        </h1>
                    </div>
                    <div>
                        <a href="#about" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1s">Desejo conhecer o Laboratório</a> 
                        <a href="#contribute" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1.4s">Desejo Contribuir com o projeto</a> 
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="about" style="padding-top:10%;padding-bottom:10%">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 wow fadeInDown">
                    <h2>Laboratório de
                        <span class="highlight">Inteligência Computacional e Pesquisa Operacional</span>
                    </h2>
                    <p>Associado à Faculdade de Engenharia da Computação e Telecomunicações (FCT) do Instituto de Tecnologia (ITEC) da Universidade Federal do Pará (UFPA).</p>
                </div>
            </div>
            <div class="row">
                <div class="feature col-sm-12 col-md-12 col-lg-12 wow fadeInDown" data-wow-delay=".5s">
                    <p style="text-align:justify">O LINC tem como objetivo
                        <span style="color:yellow">gerar soluções e avanços, motivados pelo problemas e aplicações do “mundo real”</span>, na pesquisa e implementação de modelos matemáticos, estatísticos e de inteligência computacional para a geração de conhecimento.
                        <br>O LINC atua acerca de duas principais áreas:
                        <ul>
                            <li>Investigar novos modelos, bem como aprimoramentos, para sistemas e algoritmos, nas áreas de matemática, otimização e inteligência computacional;</li>
                            <li>Prover logística para o meio público e profissional, através do
                                <span class="highlight">desenvolvimento de sistemas e metodologias para suporte à decisão</span>, permitindo, particularmente, identificar padrões, realizar predições e inferir cenários e comportamentos para análise e diagnóstico. Dentre os domínios recentes de trabalho estão:
                                <span class="highlight">telecomunicações, agroindústria, energia, saúde e segurança.</span>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div align="center">
                <a href="#contribute" class="page-scroll btn btn-learn wow fadeInDown" data-wow-delay="1.4s">Contribuir com o projeto</a> 
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="contribute">
        <div class="container" ng-show="loginStatusb">
            <div class="row section-title wow fadeInDown">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2>Parabéns! Você é um colaborador do LINC.
                        <span class="highlight">Veja abaixo como utilizamos suas informações em nossa pesquisa:</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 ol-lg-12">
                    <img src="https://graph.facebook.com/{{user.id}}/picture?type=large" style="float:left;" />
                    <h3 style="padding: 0 0 0px 12px;display: inline-block;">{{user.name}}</h3>
                    <p style="clear: both"></p>
                </div>
                <div class="col-sm-8 col-md-8 ol-lg-12">
                    <table class="table table-striped">
                        <tr>
                            <td>Nome</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <td>Primeiro Nome</td>
                            <td>{{user.first_name}}></td>
                        </tr>
                        <tr>
                            <td>Último Nome</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Gênero</td>
                            <td>{{user.gender}}></td>
                        </tr>
                        <tr>
                            <td>username</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Link</td>
                            <td><a href="{{user.link}}" target="_blank">{{user.link}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Local</td>
                            <td>{{user.locale}}</td>
                        </tr>
                        <tr>
                            <td>Timezone</td>
                            <td>{{user.timezone}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="pull-right">
                <small>Caso deseje cancelar sua inscrição, clique em <a href="javascript:void(0)" ng-click="removeAuth()">Cancelar Inscrição</a>
                </small>
            </div>
        </div>
        <div class="container" ng-hide="loginStatusb">
            <div class="row section-title wow fadeInDown">
                <div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
                    <h2>Ajude-nos com informações de sua
                        <span class="highlight">Rede Social</span>
                    </h2>
                    <p>Basta clicar no botão abaixo e nos permitir ter acesso à suas informações, interações sociais, posts e comentários.
                        <br>
                        <br>
                        <a alt="Entrar com o facebook" href="javascript:void(0)" ng-click="login()" class="page-scroll btn btn-learn wow fadeInDown">Desejo acessar o Facebook e contribuir com o projeto</a>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 ol-lg-4">
                    <div class="contribute wow fadeInLeft" data-wow-delay=".5s">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                        <h4>Condicao 1
                            <span class="highlight">como sera feito</span>
                        </h4>
                        <p>informacoes gerais do que sera feito com os dados e como a pesquisa funciona.. tererel ..tererel.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 ol-lg-4">
                    <div class="contribute wow fadeInLeft" data-wow-delay=".5s">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                        <h4>Condicao 2
                            <span class="highlight">como sera feito</span>
                        </h4>
                        <p>informacoes gerais do que sera feito com os dados e como a pesquisa funciona.. tererel ..tererel.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 ol-lg-4">
                    <div class="contribute wow fadeInLeft" data-wow-delay=".5s">
                        <i class="fa fa-thumbs-o-up fa-3x"></i>
                        <h4>Condicao 3
                            <span class="highlight">como sera feito</span>
                        </h4>
                        <p>informacoes gerais do que sera feito com os dados e como a pesquisa funciona.. tererel ..tererel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="about-project">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 about-content">
                    <h2>Projeto
                        <span class="highlight">SCRM</span>
                    </h2>
                    <p>info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos info do projetos .
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 space wow fadeInDown">
                        <h2>Contate o
                            <span class="highlight">LINC</span>
                        </h2>
                        <p>Em caso de dúvidas, sugestões ou interesse em conhecer nossos outros trabalhos, fale conosco.</p>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 fadeInDown">
                        <p>Contato: +55 91 3201-7870 / Email: linc.ufpa@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <a href="#home" class="page-scroll wow fadeInDown" data-wow-delay="1s">
                        <img src="assets/img/logoglow.png" width="200" alt="">
                    </a>
                    <p class="wow fadeInDown" data-wow-delay="1s">Laboratório de Inteligência Computacional e Pesquisa Operacional <i class="fa fa-heart"></i> 
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <script type="text/javascript" src="bower_components/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="bower_components/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="bower_components/js/retina.js"></script>
    <script type="text/javascript" src="bower_components/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="bower_components/js/matchMedia.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-facebook.js"></script>
    <script type="text/javascript" src="assets/js/angular-mongolab.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
</body>

</html>
